.place__delete-button {
  width: 18px;
  height: 19px;
  margin-left: 22px;
  background-image: url(../../../images/delete_button.svg);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  align-self: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.place__delete-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
